{% extends 'gentelella/base.html' %}

{% block content %}

<form method="post" id="form-test">
    {% csrf_token %}
    <input type="text" id="model-prefix" value="{{formset.prefix}}" hidden>
    <div id="formset-template" hidden>
        <div class="x_panel">
            <div class="col-xs-12 col-sm-12 col-md-12">
                {% if formset.can_order %}
                <ul class="nav navbar-right panel_toolbox">
                    <a class="btn btn-success" id="btn-down-{{formset.prefix}}-__prefix__">Down</a>
                    <a class="btn btn-success" id="btn-up-{{formset.prefix}}-__prefix__" >Up</a>
                </ul>
                {% endif %}
            </div>
            {{formset.empty_form.as_horizontal}}
            {% if formset.can_delete %}
                <a class="btn btn-danger" id="btn-delete-{{formset.prefix}}-__prefix__">Delete Form</a> 
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div id="formset-management">
            {{ formset.management_form }}
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 container">
            <div id="formset-list">
                {% for form in formset %}
                <section id="{{form.prefix}}">
                    {% include 'formset_form.html' %}
                </section>
                {% endfor %}
            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            <a id="add-form" class="btn btn-success">Add form</a>
            <p class="text-danger" id="error-msj"></p>
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>




</form>



{% endblock %}

{% block js %}
{{ formset.media }}
{% endblock %}