{% extends 'gentelella/base.html' %}

{% block content %}

<form method="post" id="form-test">
    {% csrf_token %}

    <input type="text" id="model-prefix" value="{{formset.prefix}}" hidden>
    <div id="formset-template" hidden>
        <div class="x_panel">
                {{formset.empty_form.as_horizontal}}
                <a class="btn btn-danger" id="btn-delete-{{formset.prefix}}-__prefix__" onclick="delete_form(this.id);">Delete Form</a>
        </div>
    </div>

    <div class="row">
        <div id="formset-management">
            {{ formset.management_form }}
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 container">
            <div id="formset-list">
                {% for form in formset %}
                <div id="{{form.prefix}}">
                    <div class="x_panel">
                        {{ form.as_horizontal }}
                        <a class="btn btn-danger" id="btn-delete-{{form.prefix}}" onclick="delete_form(this.id);">Delete Form</a>
                        <hr>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            <a id="add-form" class="btn btn-success">Add form</a>
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>




</form>



{% endblock %}

{% block js %}
{{ formset.media }}
{% endblock %}